<div class="dashboard-container">
    <app-topbar></app-topbar>
    
    <div class="dashboard-content">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="user-profile">
                <div class="avatar">{{ usuarioIniciales() }}</div>
                <h3>{{ usuarioNombre() }}</h3>
                <p>{{ usuarioEmail() }}</p>
            </div>
            
            <nav>
                <a class="nav-item" 
                    routerLink="/dashboard/estadisticas" 
                    routerLinkActive="active">
                    <i class="fas fa-chart-bar"></i> Estadísticas
                </a>

                <a class="nav-item" 
                    routerLink="/dashboard/config" 
                    routerLinkActive="active">
                    <i class="fas fa-cog"></i> Configuración
                </a>

                <a class="nav-item" 
                    routerLink="/dashboard/panel-admin" 
                    routerLinkActive="active">
                    <i class="fas fa-cog"></i> Panel Admin
                </a>

                <a class="nav-item" 
                    routerLink="/dashboard/form" 
                    routerLinkActive="active">
                    <i class="fas fa-cog"></i> Formulario
                </a>

                <a class="nav-item" 
                    routerLink="/dashboard/getExample" 
                    routerLinkActive="active">
                    <i class="fas fa-cog"></i> Apis
                </a>
                    
                <a class="nav-item" 
                    routerLink="/dashboard/cronometro" 
                    routerLinkActive="active">
                    <i class="fas fa-cog"></i> Cronometro
                </a>
                
            </nav>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>